.carousel-item_{
    padding: 0px 0px;
}
.carousel-container{
    padding-bottom: 100px;
}
.custom-right-arrow{
    background-color: red;
    position: absolute;
    bottom: 20px;
    right: 45%;
    transform: translateX(50%);
    font-size: 25px;
    padding: 10px 20px;
}
.custom-left-arrow{
    background-color: red;
    position: absolute;
    bottom: 20px;
    left: 45%;
    transform: translateX(-50%);
    font-size: 25px;
    padding: 10px 20px;
}
.step-heading {
    position: relative;
    display: inline;
}
.step-heading::after{
    content: '';
    position: absolute;
    bottom: -0px;
    right   : 0px;
    width: 18px;
    height: 5px;
    background-color: #009AFF;
}

@media (max-width : 992px){
    .step-heading::after{
        width: 14px;
    }
}

.p-stepper .p-stepper-header.p-highlight .p-stepper-number{
    background-color: #009AFF !important;
}
.p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
    background-color: #009AFF !important;
}
.Header{
    font-size: 20px !important;
}

.content-wrapper{
    margin-bottom: 20px;
}