
.breadcrumbs {
  padding: 1.3rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.breadcrumbs span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}
.blog-wrapper .section-lg{
  padding-top: 50px ;
}
.header-blog.header-blog{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-blog.header-blog a {
  background-color: #009aff;
  font-size: 26px;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 0.5rem;
}

.blog-body h1{
  font-size: 46px !important;
}
.blog-body h2{
  font-size: 34px !important;
}
.blog-body h3{
  font-size: 24px !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1092px;
  }
}

@media (max-width: 576px){
    .list-questions{
        font-size: 18px;
    }
    .contacts-days{
        list-style: disc;
    }
}

