.contact-card {
  padding: 5.5rem 0 0;
  background-color: #fff;
}
.contact-card__top {
  padding-bottom: 4.5rem;
  border-bottom: 1px solid #c4c4c4;
}
.contact-card__title {
  margin-bottom: 2rem;
}
.contact-card__title span {
  font-size: 20px;
  font-weight: 400;
  font-family: Logity, sans-serif;
}
.contact-card__top-inner {
  text-align: center;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.contact-card__list {
  padding-top: 5.7rem;
  padding-bottom: 3rem;
  flex-wrap: wrap;
  max-width: 780px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.contact-card__list li {
  display: flex;
  font-size: 20px;
  margin-bottom: 1.5rem;
}
.contact-card__list li img {
  margin-top: 6px;
}
.contact-card__list li span {
  font-weight: 600 !important;
}
.contact-card__list li:before {
  position: relative;
  top: 6px;
  min-height: 15px;
  min-width: 15px;
}
.contact-card__list li:not(.checked)::before {
  background: var(--wpr-bg-c0b36933-3b27-4319-8607-eb27aa458620) center/contain
    no-repeat;
}

.breadcrumbs {
  padding: 1.3rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.breadcrumbs span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}
.services__col,
.services__col-right {
  position: relative;
}
.services__col img {
  margin-bottom: 3rem;
}
.services__txt {
  min-height: 400px;
}
.services__txt a {
  display: block;
  margin: 0 0 30px 0px;
  font-size: 20px;
  position: relative;
}
.services__txt a::after {
  content: "+";
  position: relative;
  top: 2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 2rem;
  font-size: 24px;
  transition: 0.3s;
}
.services__col-right {
  padding-left: 20px;
}
.services__row {
  margin-bottom: 5rem;
}
.services__row:last-child {
  margin-bottom: 0;
}
.services__row:last-child .services__col-right {
  margin-bottom: 0;
}
.services__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 1.5rem;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.services__pre-title {
  font-weight: 500;
}
.services__pre-title,
.contact-card__title {
  font-size: 3.8rem;
}
.services__txt .contact-card__title,
.services__txt .h3,
.services__txt .services__pre-title,
.services__txt p {
  margin-bottom: 3rem;
}

@media (max-width: 1028px) {
  .services__txt {
    min-height: 300px;
  }
}

@media (max-width: 786px) {
  .services .section {
    padding-bottom: 20px;
  }

  .services__col img {
    position: relative !important;
    max-height: 350px;
  }
  .services__col-right img {
    position: relative !important;
    max-height: 350px;
  }
  .section.services {
    padding-bottom: 20px;
  }
  .services__txt {
    /* min-height: 300px; */
    border-top: 0;
  }
}

@media (min-width: 768px) {
  .services__col img {
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media (min-width: 992px) {
  .contact-card__title {
    margin-bottom: 0;
  }
  .contact-card__top-inner {
    display: flex;
  }
  .contact-card__list {
    padding-left: 0;
    display: flex;
  }
  .contact-card__list li {
    width: 60%;
  }
  .contact-card__list li:nth-of-type(2n) {
    width: 40%;
  }
  .services__row .services__col:nth-of-type(2) {
    border: 1px solid #000;
  }
  .services__row:nth-of-type(odd) .services__col:first-of-type {
    order: 2;
  }
  /* .services__col img {
      width: 100%;
      height: 400px;
      margin-bottom: 0;
    } */
}
@media (min-width: 1200px) {
  .contact-card__title,
  .h3,
  .services__pre-title {
    font-size: 3.6rem;
  }
}

@media (min-width: 1420px) {
  .gotop {
    bottom: 44px;
  }
}
@media (prefers-reduced-motion: reduce) {
  .article h1 a {
    color: inherit;
    text-decoration: none;
  }

  .article h1 span {
    font-size: 0.5em;
  }
  @media (min-width: 992px) {
    .breadcrumbs-container + .section {
      padding-top: 5rem;
    }
  }
  .section.article {
    padding-top: 40px;
  }
  .container-fluid {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  .simple__banner {
    display: none;
    position: relative;
  }
  .wpcf7-form p:empty {
    display: none;
  }
  .wpcf7-form span:empty {
    height: 0;
  }
  .gotop {
    bottom: calc(11% - 3.75px);
  }
  .navbar.fixed-top {
    position: static;
    width: 100%;
  }
  .main-wrapper {
    padding-top: 0 !important;
  }
  @media (max-width: 992px) {
    .menu-toggle {
      position: static;
      margin-left: auto;
    }
  }
  .icon-hour {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: #1e22aa;
    margin-right: 2rem;
  }
  .icon-hour svg {
    width: 18px !important;
    min-width: 18px !important;
    height: 18px !important;
    min-height: 18px !important;
    margin-right: 0 !important;
  }
  :root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
  }
}
