.p-stepper .p-stepper-header.p-highlight .p-stepper-number{
    background-color: #009AFF !important;
}
.p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
    background-color: #009AFF !important;
}
.Header{
    font-size: 20px !important;
}

.content-wrapper{
    margin-bottom: 20px;
}

.step-heading {
    position: relative;
    display: inline;
    margin-bottom: 0 !important;
    display: none !important;
}
.step-heading::after{
    content: '';
    position: absolute;
    bottom: -0px;
    right   : 0px;
    width: 18px;
    height: 5px;
    background-color: #009AFF;
}
.p-button{
    background-color: #009AFF;
    color: white;
    padding: 5px 14px;
    border-radius: 0.5rem;
}
@media (max-width : 992px){
    .step-heading::after{
        width: 14px;
    }
}

