@media (prefers-color-scheme: dark) {
    .form{
        background-color: black !important;
        box-shadow: unset;
        border: 2px solid #009aff;
    }
    
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
