.testimonials{
    background-color: var(--bg-light);
}
.testimonial-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}
.testimonial-img-wrapper img{
    position: relative;
    z-index: 10;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    object-fit: contain;
}

.testimonial-desc-slider .slick-list .slick-slide {
    padding: 0 20px;
}
.desc-slider-item{  
    padding: 0px 30px 0px 30px;    
    text-align: justify;
}
.desc-slider-item h5:nth-child(2) {
    margin-top: 30px;
}
.desc-slider-item h5:first-child {
    position: relative;
    display: inline;
    font-style: italic;
}
.desc-slider-item h5:first-child::before{
    position: absolute;
    content: '';
    top: 0px;
    left: -25px;
    width: 15px;
    height: 15px;
    background-image: url("../../../public//images/icons//opening-quote.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.desc-slider-item h5:first-child::after{
    position: absolute;
    content: '';
    bottom: 10px;
    right: -35px;
    width: 15px;
    height: 15px;
    background-image: url("../../../public//images/icons//closing-quote.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* .desc-slider-nav{
    max-width: 313px;
}
.desc-slider-nav .slick-list .slick-track .slick-slide{
    width: auto !important;
    margin-right: 20px;
    cursor: pointer;
} */
/* .desc-slider-nav .slick-list .slick-track .slick-current div */
 .slider-nav-item div{
    border: 4px solid #009AFF;
}
.slider-nav-item div{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 4px solid white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-nav-item img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.slider-nav-item-active div {
    border: 4px solid #009AFF;
}

.testimonial-desc-slider .slick-dots {
    bottom: -80px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.testimonial-desc-slider .slick-dots li {
    color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.testimonial-desc-slider .slick-dots li button {
    position: relative;
    overflow: hidden;
    opacity: 0.5;
    font-size: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: transparent;
    border: none;
    background-color: #009AFF ;
    transition: all 200ms ease;
    outline: 2px solid transparent;
    outline-offset: 3px;
}
.testimonial-desc-slider .slick-dots .slick-active button {
    opacity: 1;
    outline: 2px solid #009AFF;
}
.slick-dots li button:before {
    display: none;
}

@media (max-width : 992px){
    .desc-slider-item h5:first-child::after{
        bottom: 3px;
    }
}

@media(max-width : 786px){
    .testimonial-desc-slider .slick-dots li {
        width: 12px;
        height: 12px;
    }
}

@media ( min-width : 992px ) and ( max-width : 1199.8px ){

    
    .testimonial-desc-slider h5 {
        font-size: 18px !important;
    }
    .testimonial-desc-slider .slick-dots  {
        bottom: -50px;
    }

    .testimonial-img-wrapper img {
        width: 400px ;
        height: 400px;
    }
}

@media ( min-width : 768px ) and ( max-width : 991.8px )
{
    .testimonial-desc-slider .slick-dots  {
        bottom: -50px;
    }    
    .testimonial-img-wrapper img {
        width: 300px;
        height: 300px;
    }
    .testimonial-img-wrapper{
        margin-bottom: 60px;
    }
}

@media ( min-width : 576px ) and ( max-width : 767.8px )
{
    
    .testimonial-img-wrapper img {
        width: 300px;
        height: 300px;
    }
    .testimonial-img-wrapper{
        margin-bottom: 60px;
        padding-right: 0;
    }
    .testimonial-desc-slider .slick-dots {
        bottom: -40px;
    }
    .desc-slider-item {
        padding: 0px 20px;
    }

}

@media  ( max-width : 575.8px ){

    .testimonials {
        background-image: none ;
    }
    .testimonial-img-wrapper img {
        width: 250px;
        height: 250px;
    }
    .testimonial-img-wrapper{
        padding: 0;
        margin-bottom: 60px;
    }

    .testimonial-desc-slider h5 {
        font-size: 18px;
    }
    .desc-slider-nav {
        max-width: 205px;
    }
    .desc-slider-item {
        padding: 0 15px;
    }


    .slider-nav-item div{
        width: 85px;
        height: 85px;
        border-radius: 50%;
        border: 4px solid white;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider-nav-item img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
    .testimonial-desc-slider .slick-dots {
        bottom: -40px;
    }

}